 /* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#screen{
	height:100%;
	width:100%;
	position:absolute;
}
#map {
	height: 100%;	
	left:20vw;
	width: 79vw;
	position:absolute;
}
#detail {
	height: 100vh;
	overflow: auto;
	left:0px;
	width:20vw;
	position:absolute;
}

h4{
	display:block;
	margin-bottom:8px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
/*style of input*/
#filterBlock{
	width:80%;
	padding:0px 10%;	
}
.loc{	
	padding-bottom:15px;
}
.block, .button-block{	
	width:100%;
	float:left;
	padding-bottom:5px;
	padding-top:5px;
}
.title{
	padding-top:8px;
	width:35%;	
	font-size: 16px;
	float:left;
}
.location{
	width:65%;
	left:35%;
	float:left;
}
.inputLoc{
	height:28px;
	width:100%;
	padding-left:5px;
	font-size: 14px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.line{
	float:left;
	width:100%;   
	margin-top: 8px;
	margin-bottom: 8px;
	border-top: 1px solid #eee;
}
.lineBlock{
	margin-top: 15px;
	margin-bottom: 15px;
	float:left;
	width:100%;   
	border-bottom: 1px solid #bbb;
	margin-left: -5%;
}

.title-dropdown{
	padding-bottom:5px;
	width:100%;	
	font-size: 16px;
	float:left;
}
.dropdown > select{	
	height:28px;
	width:100%;   
	font-size: 14px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

button{
	width:46%;
	float:left;
	font-size: 15px;
	height:40px;
	color:#fff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#find{
	margin-left:5%;
	background-color:#5cb85c;
    border-color: #4cae4c;
}

#reset{
	background-color: #f0ad4e;
    border-color: #eea236;
}

@media only screen and (max-width:1300px){
	.title{
		padding-top:8px;
		width:100%;	
		font-size: 16px;
		float:left;
	}
	.location{
		width:100%;
		left:0px;
		float:left;
	}
}

@media only screen and (max-width:960px){
	#map {
		height: 70vh;	
		top: 30vh;
		left:0px;
		width: 100vw;
		position:absolute;
	}
	#detail {
		height: 30vh;
		overflow: auto;
		left:0px;
		top:0px;
		width:100vw;
		position:absolute;
	}
	#filterBlock{
		width:98%;
		padding: 8px 8px 5px 8px;	
	}
	.block{	
		width:17.7%;
		min-width:120px;
		margin:0px;
		padding-right:5px;
		padding-left: 5px;
		display:block;
	}
	.loc{
		width:20%;	
		min-width:175px;	
		display:block;
		padding-right:none;
	}
	.loc > .block{	
		float:left;
		width:100%;	
		padding-bottom:0px;
		margin-top: 5px;
		display:block;
	}
	.title{
		padding-top:8px;
		width:45%;	
		font-size: 16px;
		float:left;
		display:inline;
	}
	.location{
		width:54%;
		left:45%;
		float: left;
		display:inline;
	}
	.button-block{	
		margin-top:3px;
		margin-left: 8px;
		width:100%;
		float:center;
		display:inline;
	}
	.line{
		height:80px;
		border-top: none;
		border-left: 1px solid #eee;
	}
	.lineBlock{		
		margin-top:0px;		
		margin-bottom:3px;
		margin-left: 3px;
		padding-right: 15px;
		float:left;
		height:80px;  
		border-bottom: none;
		border-right: 1px solid #bbb;
	}
	button{
		width:46%;
		height:35px;
	}
	h4{
		display: none;
	}
}

@media only screen and (max-width:840px){
	#map {
		height: 100vh;
		left:0px;
		bottom:0px;
		top:50px;
		width: 100vw;
		position:relative;
	}
	#detail {
		height: auto;
		left:0px;
		top:0px;
		width:100vw;
		position:relative;
		display:block;
	}
	#filterBlock{		
		height: 100%;
		width:80%;
		padding:0px 10%;	
	}
	.block, .button-block{	
		width:100%;
		float:left;
		padding-bottom:5px;
		padding-top:5px;
	}
	.title{
		padding-top:8px;
		width:35%;	
		font-size: 16px;
		float:left;
	}
	.location{
		width:65%;
		left:35%;
		float:left;
	}
	.inputLoc{
		height:28px;
		width:100%;
		padding-left:5px;
		font-size: 14px;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}

	.line{
		height: auto;
		float:left;
		width:100%;   
		margin-top: 8px;
		margin-bottom: 8px;
		border-left: 0px;
		border-top: 1px solid #eee;
	}
	.lineBlock{
		margin-top: 15px;
		margin-bottom: 15px;
		float:left;
		width:100%;   
		border-right: 0px;
		border-bottom: 1px solid #bbb;
		margin-left: -5%;
	}
	button{
		width:46%;
		height:40px;
	}
	h4{
		display: block;
	}
}
