 /* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#screen{
	height:100%;
	width:100%;
	position:absolute;
}
#map {
	height: 100%;	
	left:20vw;
	width: 79vw;
	position:absolute;
}
#detail {
	height: 100%;
	left:0px;
	width:20vw;
	position:absolute;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
/*style of input*/
#filterBlock{
	width:80%;
	padding:0px 10%;	
}
.block{	
	width:100%;
	float:left;
	padding-bottom:5px;
}
.title{
	padding-top:8px;
	width:35%;	
	font-size: 16px;
	float:left;
}
.location{
	width:65%;
	left:40%;
	float:left;
}
.inputLoc{
	height:28px;
	width:100%;   
	font-size: 14px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.line{
	margin-top: 15px;
	margin-bottom: 15px;
	float:left;
	width:100%;   
	border: 1px solid #eee;
}
.lineBlock{
	margin-top: 15px;
	margin-bottom: 15px;
	float:left;
	width:110%;   
	border: 1px solid #bbb;
	margin-left: -5%;
}

.title-dropdown{
	padding-bottom:5px;
	width:100%;	
	font-size: 16px;
	float:left;
}
.dropdown > select{	
	height:28px;
	width:100%;   
	font-size: 14px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

button{
	width:46%;
	float:left;
	font-size: 15px;
	height:40px;
	color:#fff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#find{
	margin-left:5%;
	background-color:#5cb85c;
    border-color: #4cae4c;
}

#reset{
	background-color: #f0ad4e;
    border-color: #eea236;
}